/pgdata
/scopus-files/*
/*-initdb.d/*
!/admin-db-initdb.d/.gitkeep
#/index-manager-db.initdb.d
!/index-manager-db.initdb.d/create.sql
/index-manager-db-data
/admin-db-data
/elasticsearch-data
/kibana-data
