SECRET_KEY_BASE=
NUXT_SECRET_KEY_BASE=
GITHUB_CLIENT_SECRET=
NUXT_GITHUB_CLIENT_SECRET= # Same as GITHUB_CLIENT_SECRET
GU_CLIENT_SECRET=
NUXT_GU_CLIENT_SECRET= # Same as GU_CLIENT_SECRET
GUP_API_KEY=
INDEX_MANAGER_API_KEY=
GUP_ADMIN_API_KEY= # TODO: Should be same as INDEX_MANAGER_API_KEY, rename to INDEX_MANAGER_API_KEY in gup-imports
NUXT_ADMIN_BACKEND_API_KEY=
ADMIN_BACKEND_API_KEY= # Same as NUXT_ADMIN_BACKEND_API_KEY
