SECRET_KEY_BASE=<secret key base>
GITHUB_CLIENT_SECRET=<client secret>
NUXT_GITHUB_CLIENT_SECRET=<client secret> # Same as GITHUB_CLIENT_SECRET
GU_CLIENT_SECRET=<client secret>
NUXT_GU_CLIENT_SECRET=<client secret> # Same as GU_CLIENT_SECRET
GUP_API_KEY=<api key>
INDEX_MANAGER_API_KEY=<api key>
GUP_ADMIN_API_KEY=<api key>> # TODO: Should be same as INDEX_MANAGER_API_EY, rename to INDEX_MANAGER_API_KEY in gup-imports
