SECRET_KEY_BASE=
NUXT_SECRET_KEY_BASE=
GITHUB_CLIENT_SECRET=
NUXT_GITHUB_CLIENT_SECRET= # Same as GITHUB_CLIENT_SECRET
GU_CLIENT_SECRET=
NUXT_GU_CLIENT_SECRET= # Same as GU_CLIENT_SECRET
GUP_BACKEND_API_KEY=
INDEX_MANAGER_API_KEY=
BACKEND_API_KEY=
NUXT_BACKEND_API_KEY= # Same as BACKEND_API_KEY
